html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: auto;
  min-width: 320px;
}

/** body **/

.banner {
  height: 237px;
  background-color: #2b3851;
}

.robot {
  width: 320px;
  display: flex;
  align-content: center;
  height: 237px;
  margin: 0 auto;
}

.robot-body {
  width: 320px;
  top: 50px;
  position: absolute;
}

.robot-brain {
  top: -20px;
  left: 137px;
  position: relative;
}

.robot-head-left {
  right: -110px;
  top: -20px;
  position: relative;
}

.robot-head-right {
  right: -110px;
  top: -20px;
  position: relative;
}

.robot:hover > .robot-head-left {
  top: -26px;
  left: -170px;
}

.robot:hover > .robot-brain {
  top: -49px;
  z-index: 101;
}

.robot:hover > .robot-head-right {
  top: -24px;
  right: -149px;
}
